.contactbg {
    background-color: #083468;
   
    height: 150px;
}
.l-container{
    background-position: -55%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-blend-mode:color;
}
.i-container{
    padding: 2rem 0px;
    max-width: 80%;
    margin: auto auto;
    
}
.i-container h2{
    font-size: 3rem;

}
.i-container p{
    color: #686767;
    font-size: 1.2rem;

}
.icon{
    width: 100px;
    height: 100px;
}
/* .bg-donation{
    background-image: url(../images/4877806.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
} */
/* button */
         
.btn-grad-pay {
    background-image: linear-gradient(to right, #4b6cb7 0%, #182848  51%, #4b6cb7  100%)!important;
    margin: 10px!important;
    padding: 15px 45px!important;
    text-align: center!important;
    text-transform: uppercase!important;
    transition: 0.5s;
    background-size: 200% auto!important;
    color: white!important;            
    box-shadow: 0 0 20px #eee;
    border-radius: 20px!important;
    display: block!important;
  }

  .btn-grad-pay:hover {
    background-position: right center!important; /* change the direction of the change here */
    color: #fff!important;
    text-decoration: none!important;
  }
  .donateNow{
   color: #fff!important;
 background-color: #2a2b64!important;
  }
 .supportOurCause{
    background-color: #e94f25!important;
    color: #fff!important;
 }
         
.donation-btnA {
    background-image: linear-gradient(to right, #d310277a 0%, #88303a 51%, #48373970 100%)!important;
    margin: 10px!important;
    padding: 15px 45px!important;
    text-align: center!important;
    text-transform: uppercase!important;
    transition: 0.5s!important;
    background-size: 200% auto!important;
    color: white;            
    box-shadow: 0 0 20px #eee!important;
    border-radius: 10px!important;
    display: block!important;
    position:fixed!important;
	bottom:0px;
	right:0px;
  }
  
  .donation-btnA:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  