.ftco-section .ftco-sub-title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: #d4d4d4;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
}

.ftco-section .ftco-primary-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.media-custom {
  background: #fff;
}
.media-custom .media-body .name {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0;
  color: #f86f2d;
}
.media-custom .media-body .position {
  font-size: 13px;
  color: #d9d9d9;
}

.about-author .desc h3 {
  font-size: 24px;
}

.ftco-section {
  padding: 7em 0;
  position: relative;
}
@media (max-width: 767.98px) {
  .ftco-section {
    padding: 6em 0;
  }
}

.ftco-bg-dark {
  background: #3c312e;
}
.contact-section .contact-info p a {
  color: #fa8f3d;
}

.contact-section .contact-info p span {
  color: #000;
}
.contact-section .contact-info p a {
  color: #fa8f3d;
}

.contact-section .contact-info p span {
  color: #000;
}
#map {
  height: 400px;
  width: 100%;
}
@media (max-width: 991.98px) {
  #map {
    height: 300px;
  }
}
